backend/IoTEdge/AICare-nodered-flows.json
[{"id":"e61c68ae.38e5d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"beaa03a1.13572","type":"azure-event-hub-receive","z":"e61c68ae.38e5d8","name":"","connectionstring":"Endpoint=sb://securityeventhubnmsp5vsup.servicebus.windows.net/;SharedAccessKeyName=EventHubOwner;SharedAccessKey=uxzu4nobosnyu3VZcT2e5NfVeSFvTuiYUiWtXhxnJ2s=;EntityPath=securityeventhub5vsup","consumergroup":"$Default","x":110,"y":320,"wires":[["158849f3.b89ee6","8401ea30.7e01f8"]]},{"id":"158849f3.b89ee6","type":"debug","z":"e61c68ae.38e5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":200,"wires":[]},{"id":"f71e5ba4.7b9658","type":"ui_toast","z":"e61c68ae.38e5d8","position":"prompt","displayTime":"3","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Alert","x":670,"y":600,"wires":[["1f2b77b.0e07d88"]]},{"id":"48396861.43a428","type":"function","z":"e61c68ae.38e5d8","name":"","func":"\n    \n    //msg.payload = \"已配戴口罩，請通過，謝謝\"\n\n    msg.payload = \"警告！！未戴口罩禁止進入\"\n    return msg\n\n    \n","outputs":1,"noerr":0,"x":490,"y":600,"wires":[["f71e5ba4.7b9658","e5af262e.2b8ee8"]]},{"id":"6d4b6711.bd1d98","type":"inject","z":"e61c68ae.38e5d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":380,"wires":[["1f2b77b.0e07d88","27000a81.3e7dc6"]]},{"id":"b7deb3ec.5655d","type":"ui_template","z":"e61c68ae.38e5d8","group":"299e8fab.45c2c","name":"","order":1,"width":5,"height":5,"format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1100,"y":560,"wires":[["2ee8ab3f.b87fd4"]]},{"id":"b2ba7a4.7110c88","type":"base64","z":"e61c68ae.38e5d8","name":"","action":"str","property":"payload","x":1020,"y":120,"wires":[["8497cd04.3d5ab"]]},{"id":"1f2b77b.0e07d88","type":"file in","z":"e61c68ae.38e5d8","name":"","filename":"/icons/mask.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":860,"y":600,"wires":[["9591a425.b09e98"]]},{"id":"4ca59bc2.2a6214","type":"file in","z":"e61c68ae.38e5d8","name":"","filename":"/icons/error.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":720,"y":120,"wires":[["b2ba7a4.7110c88"]]},{"id":"8497cd04.3d5ab","type":"ui_template","z":"e61c68ae.38e5d8","group":"f88dadc9.9fcf9","name":"","order":1,"width":5,"height":5,"format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1100,"y":220,"wires":[["fe4abd1c.93ec1"]]},{"id":"8401ea30.7e01f8","type":"switch","z":"e61c68ae.38e5d8","name":"","property":"payload.alarm_status","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":380,"wires":[["cfac1865.11b068","15924322.1cc56d"],["3c734b98.deda74"]]},{"id":"cfac1865.11b068","type":"function","z":"e61c68ae.38e5d8","name":"","func":"msg.payload = \"警告！！目前體溫為:\"+msg.payload.alarm_status+\"，已超過37.3度，禁止進入\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["4ca59bc2.2a6214","be27b89a.838678"]]},{"id":"e5af262e.2b8ee8","type":"file in","z":"e61c68ae.38e5d8","name":"","filename":"/icons/error.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":620,"y":460,"wires":[["9591a425.b09e98"]]},{"id":"9591a425.b09e98","type":"base64","z":"e61c68ae.38e5d8","name":"","action":"str","property":"payload","x":980,"y":460,"wires":[["b7deb3ec.5655d"]]},{"id":"be27b89a.838678","type":"ui_toast","z":"e61c68ae.38e5d8","position":"top left","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Alert","x":670,"y":220,"wires":[]},{"id":"27000a81.3e7dc6","type":"file in","z":"e61c68ae.38e5d8","name":"","filename":"/icons/thermal.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":850,"y":220,"wires":[["b2ba7a4.7110c88"]]},{"id":"fe4abd1c.93ec1","type":"trigger","z":"e61c68ae.38e5d8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1250,"y":280,"wires":[["27000a81.3e7dc6"]]},{"id":"3c734b98.deda74","type":"switch","z":"e61c68ae.38e5d8","name":"","property":"payload.mask","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":500,"wires":[["9bdf463f.8289c8"],["48396861.43a428"]]},{"id":"9bdf463f.8289c8","type":"file in","z":"e61c68ae.38e5d8","name":"","filename":"/icons/green-mark.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":620,"y":400,"wires":[["9591a425.b09e98"]]},{"id":"2ee8ab3f.b87fd4","type":"trigger","z":"e61c68ae.38e5d8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1060,"y":680,"wires":[["1f2b77b.0e07d88"]]},{"id":"754c19fc.d1b1c8","type":"function","z":"e61c68ae.38e5d8","name":"Generate random matrix","func":"// Generate some random data\n// See https://www.patrick-wied.at/static/heatmapjs/example-minimal-config.html\nvar len = 200;\n\nmsg.payload = [];\n\nwhile (len--) {\n  var value = Math.floor(Math.random()*100);\n  msg.payload.push(value);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":860,"wires":[["d6c90e32.e284f"]]},{"id":"bad9d72c.a68228","type":"inject","z":"e61c68ae.38e5d8","name":"Show heatmap","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":500,"y":860,"wires":[["754c19fc.d1b1c8"]]},{"id":"d6c90e32.e284f","type":"ui_heat_map","z":"e61c68ae.38e5d8","group":"c7dd2d15.f6644","order":0,"width":"6","height":"5","name":"","rows":"20","columns":"10","minMax":false,"minimumValue":0,"maximumValue":0,"backgroundType":"color","backgroundColor":"#ffffff","radius":40,"opacity":0.6,"blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":2,"x":950,"y":860,"wires":[]},{"id":"cc4eb10e.85b9b","type":"inject","z":"e61c68ae.38e5d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1020,"wires":[["45028ffc.1b1a4"]]},{"id":"45028ffc.1b1a4","type":"function","z":"e61c68ae.38e5d8","name":"","func":"var tempary1 = [26.25, 27.50, 30.75, 30.75, 30.00, 30.25, 29.25, 27.00,\n26.25, 30.50, 31.00, 31.50, 31.25, 31.25, 30.25, 30.00,\n28.25, 31.25, 31.25, 31.25, 31.25, 31.00, 30.75, 31.25,\n31.50, 32.75, 32.50, 33.00, 32.50, 32.00, 31.25, 32.00,\n31.75, 32.25, 32.00, 32.00, 32.25, 31.50, 31.00, 31.75,\n31.50, 31.75, 32.00, 32.75, 33.00, 32.75, 32.00, 31.25,\n31.50, 31.50, 33.25, 33.50, 32.75, 33.25, 33.25, 32.25,\n30.50, 31.25, 33.25, 33.50, 32.50, 33.00, 32.50, 32.25,\n];\n\nvar tempary = [0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0\n];\n\nmsg.payload = [];\nmsg.payload = tempary;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1020,"wires":[["793032ff.1fa21c","cde24530.2dc938"]]},{"id":"793032ff.1fa21c","type":"ui_heat_map","z":"e61c68ae.38e5d8","group":"d2ca5416.a4cc78","order":0,"width":"6","height":"6","name":"","rows":"8","columns":"8","minMax":true,"minimumValue":"22","maximumValue":"34","backgroundType":"color","backgroundColor":"#e2e7e9","radius":"46","opacity":"0.7","blur":"0.85","showValues":false,"gridType":"none","valuesDecimals":"2","showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":2,"x":1200,"y":340,"wires":[]},{"id":"15924322.1cc56d","type":"function","z":"e61c68ae.38e5d8","name":"","func":"\n//msg.payload = [];\nmsg.payload = msg.payload.alarm_array;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["793032ff.1fa21c","cde24530.2dc938","e51c0cad.f4636"]]},{"id":"cde24530.2dc938","type":"debug","z":"e61c68ae.38e5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":420,"wires":[]},{"id":"5709e156.b14a2","type":"function","z":"e61c68ae.38e5d8","name":"","func":"\nvar tempary = [0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0,\n0, 0, 0, 0, 0, 0, 0, 0\n];\nmsg.payload = [];\nmsg.payload = tempary;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":280,"wires":[["793032ff.1fa21c","cde24530.2dc938"]]},{"id":"e51c0cad.f4636","type":"delay","z":"e61c68ae.38e5d8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":280,"wires":[["5709e156.b14a2"]]},{"id":"299e8fab.45c2c","type":"ui_group","z":"","name":"口罩配戴","tab":"ef489dbb.5f706","order":1,"disp":true,"width":"5","collapse":false},{"id":"f88dadc9.9fcf9","type":"ui_group","z":"","name":"體溫檢測","tab":"ef489dbb.5f706","order":2,"disp":true,"width":"5","collapse":false},{"id":"c7dd2d15.f6644","type":"ui_group","z":"","name":"Teste","tab":"71f8c886.24b098","disp":false,"width":"6"},{"id":"d2ca5416.a4cc78","type":"ui_group","z":"","name":"熱成像圖","tab":"ef489dbb.5f706","order":3,"disp":true,"width":"6","collapse":false},{"id":"ef489dbb.5f706","type":"ui_tab","z":"","name":"*","icon":"check","order":1,"disabled":false,"hidden":false},{"id":"71f8c886.24b098","type":"ui_tab","z":"","name":"LAB","icon":"dashboard","disabled":true,"hidden":false}]